<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name.truncate()%}</span></td>
            <td class="size" align="center"><span>({%=o.formatFileSize(file.size)%})</span></td>
            <td><span><%= text_field_tag 'attachments[{%=file.tempFileOrder%}][description]', '', :id => nil, :class => 'description', :maxlength => 255, :placeholder => l(:label_optional_description) %></span></td>
            <td class="error-upload"><span><%= l('error_upload') %>{%=file.error%}</span></td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name.truncate()%}</a>
            </td>
            <td class="size" align="center"><span>({%=o.formatFileSize(file.size)%})</span></td>
            <td><span><%= text_field_tag 'attachments[{%=file.tempFileOrder%}][description]', '', :id => nil, :class => 'description', :maxlength => 255, :placeholder => l(:label_optional_description) %></span></td>
            <td></td>
        {% } %}
        <td class="delete">
            <button class="upload-control" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <a href="#" class="icon icon-del"></a>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
        <td></td>
    </tr>
{% } %}
</script>
