<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name">
            {% if (file.fromClipboard) { %}
                <input type="text" size="30" maxlength="50" value="{%=file.uniqueName%}" onblur="({%=file.onInputNameBlur%}).call(this)" name="attachments[{%=file.tempFileOrder%}][name]">
                <a href="#" onclick="({%=file.onButtonLinkClick%}).call(this)"><img src="/images/link.png"></a>
            {% } else { %}
                <span>{%=file.name.truncate()%}</span>
            {% } %}
        </td>
        <td class="size" align="center"><span>({%=o.formatFileSize(file.size)%})</span></td>
        <td><span><%= text_field_tag 'attachments[{%=file.tempFileOrder%}][description]', '', :id => nil, :class => 'description', :maxlength => 255, :placeholder => l(:label_optional_description) %></span></td>
        {% if (file.error) { %}
            <td class="error-upload"><span><%= l('error_upload') %>{%=file.error%}</span></td>
        {% } else if (o.files.valid && !i) { %}
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="upload-control">
                    <a href="#" class="icon icon-start"></a>
                </button>
            {% } %}</td>
        {% } else { %}
            <td class="empty"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="upload-control">
                <a href="#" class="icon icon-discard"></a>
            </button>
        {% } %}</td>
        <td>
            <div class="meter small blue nostripes" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <span class="bar" style="width:0%;"></span>
            </div>
        </td>
    </tr>
{% } %}
</script>
